/*
 * SPDX-FileCopyrightText: Copyright (c) 2025 Orange
 * SPDX-License-Identifier: Mozilla Public License 2.0
 *
 * This software is distributed under the MPL-2.0 license.
 * the text of which is available at https://www.mozilla.org/en-US/MPL/2.0/
 * or see the "LICENSE" file for more details.
 */

package {{.PackageName}}

import (
	"context"

	"github.com/orange-cloudavenue/cloudavenue-sdk-go-v2/types"
)

{{ range .Commands -}}
{{ if and .ParamsType .ModelType }}
func (c *Client) {{.CommandName}}(ctx context.Context, params {{.ParamsType}}) (*{{.ModelType}}, error) {
    x, err := cmds.Get("{{.Namespace}}", "{{.Resource}}", "{{.Verb}}").Run(ctx, c, params)
    if err != nil {
        return nil, err
    }
    return x.(*{{.ModelType}}), nil
}
{{ end }}

{{ if and .ParamsType (not .ModelType) }}
func (c *Client) {{.CommandName}}(ctx context.Context, params {{.ParamsType}}) error {
    _, err := cmds.Get("{{.Namespace}}", "{{.Resource}}", "{{.Verb}}").Run(ctx, c, params)
    return err
}
{{ end }}

{{ if and (not .ParamsType) (not .ModelType) }}
func (c *Client) {{.CommandName}}(ctx context.Context) error {
    _, err := cmds.Get("{{.Namespace}}", "{{.Resource}}", "{{.Verb}}").Run(ctx, c, nil)
    return err
}
{{ end }}

{{ if and (not .ParamsType) .ModelType }}
func (c *Client) {{.CommandName}}(ctx context.Context) (*{{.ModelType}}, error) {
    x, err := cmds.Get("{{.Namespace}}", "{{.Resource}}", "{{.Verb}}").Run(ctx, c, nil)
    if err != nil {
        return nil, err
    }
    return x.(*{{.ModelType}}), nil
}
{{ end }}
{{ end }}
